extends ../layouts/main-layout.pug

block style
    link(rel="stylesheet", href="/css/product.css")

block content
    if products.length >0
        .grid
            each product in products
                article.card.product-item
                    header.card__header
                        h1.product__title=product.title
                    div.card__image
                        img(src=product.imageUrl, alt="A Book", height="250")
                    div.card__content
                        h2.product__price=product.price
                        p.product__description=product.description
                    .card__actions(style="text-align: center;")
                        div(style="display: flex; justify-content: space-around;")
                            form(action=`/shop/product-detail/${product.id}` method="GET")
                                button(type="submit").btn Details
                            form(action=`/shop/add-to-cart/${product.id}` method="POST")
                                button(type="submit").btn Add to Cart
    else 
        h1 No Books Added